<!DOCTYPE html>
<html>
<head>
    <title>SearchFI Calendar Modify</title>
    <link rel="stylesheet" href="/static/styles.css?ver=1.8">
    <script type="text/javascript">
        const project_list = {{ projects | tojson | safe }};

        function setProject(index) {
            const id = document.getElementById("id");
            const discordUrl = document.getElementById("discordUrl");
            const twitterUrl = document.getElementById("twitterUrl");
            const twitterProfileImage = document.getElementById("twitterProfileImage");
            const mintDate = document.getElementById("mintDate");
            const mintDateOption = document.getElementById("mintDateOption");
            const supply = document.getElementById("supply");
            const supplyOption = document.getElementById("supplyOption");
            const wlPrice = document.getElementById("wlPrice");
            const wlPriceOption = document.getElementById("wlPriceOption");
            const pubPrice = document.getElementById("pubPrice");
            const pubPriceOption = document.getElementById("pubPriceOption");
            const blockchain = document.getElementById("blockchain");
            const noUpdate = document.getElementById("noUpdate")
            if(index > 0) {
                id.value = project_list[index-1].id;
                discordUrl.value = project_list[index-1].discordUrl;
                twitterUrl.value = project_list[index-1].twitterUrl;
                twitterProfileImage.value = project_list[index-1].twitterProfileImage;
                blockchain.value = project_list[index-1].blockchain;

                discordUrl.readOnly = false;
                twitterUrl.readOnly = false;
                twitterProfileImage.readOnly = false;
                blockchain.readOnly = false;

                if(project_list[index-1].mintDate == 'TBA') {
                    mintDateOption.value = 'TBA';
                    mintDate.value = '';
                    mintDate.disabled = true;
                } else {
                    mintDateOption.value = 'specificDate';
                    mintDate.disabled = false;
                    mintDate.readOnly = false;
                    mintDate.value = project_list[index-1].mintDate;
                }

                if(project_list[index-1].supply == 'TBA') {
                    supplyOption.value = 'TBA';
                    supply.value = '';
                    supply.disabled = true;
                } else {
                    supplyOption.value = 'specificNumber';
                    supply.disabled = false;
                    supply.readOnly = false;
                    supply.value = project_list[index-1].supply;
                }

                if(project_list[index-1].wlPrice == 'TBA') {
                    wlPriceOption.value = 'TBA';
                    wlPrice.value = '';
                    wlPrice.disabled = true;
                } else {
                    wlPriceOption.value = 'specificNumber';
                    wlPrice.disabled = false;
                    wlPrice.readOnly = false;
                    wlPrice.value = project_list[index-1].wlPrice;
                }

                if(project_list[index-1].pubPrice == 'TBA') {
                    pubPriceOption.value = 'TBA';
                    pubPrice.value = '';
                    pubPrice.disabled = true;
                } else {
                    pubPriceOption.value = 'specificNumber';
                    pubPrice.disabled = false;
                    pubPrice.readOnly = false;
                    pubPrice.value = project_list[index-1].pubPrice;
                }

                if(project_list[index-1].noUpdate == 1) {
                    noUpdate.checked = true;
                } else {
                    noUpdate.checked = false;
                }
            } else {
                id.value = "";
                discordUrl.value = "";
                twitterUrl.value = "";
                twitterProfileImage.value = "";
                mintDateOption.value = 'specificDate';
                mintDate.value = "{{ today }}T00:00";
                mintDate.disabled = false;
                supplyOption.value = 'specificNumber';
                supply.value = "";
                supply.disabled = false;
                wlPriceOption.value = 'specificNumber';
                wlPrice.value = "";
                wlPrice.disabled = false;
                pubPriceOption.value = 'specificNumber';
                pubPrice.value = "";
                pubPrice.disabled = false;
                blockchain.value = "ETH";
                noUpdate.checked = false;

                discordUrl.readOnly = true;
                twitterUrl.readOnly = true;
                twitterProfileImage.readOnly = true;
                blockchain.readOnly = true;
            }
        }

        function handleOptionChange(element, relatedInputId) {
            const relatedInput = document.getElementById(relatedInputId);
            if (element.value === 'TBA') {
                relatedInput.disabled = true;
                relatedInput.readOnly = true;
                relatedInput.value = 'TBA';
            } else {
                relatedInput.disabled = false;
                relatedInput.readOnly = false;
                relatedInput.value = '';
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Welcome to SearchFI Calendar Modify!</h1>
        <form id="form" name="form" method="post" target="iframe" action="/update">
            <input type="hidden" id="id" name="id" value=""/>
            <div>
                <label for="name">Project Name</label>
                <select id="name" name="name" onchange="setProject(this.selectedIndex)">
                    <option value="">-- Select Project --</option>
                </select>
                <script>
                    const select = document.getElementById("name");
                    for (let i = 0; i < project_list.length; i++) {
                        const option = document.createElement("option");
                        option.text = project_list[i].name;
                        select.add(option);
                    }
                </script>
            </div>
            <div>
                <label for="discordUrl">DC Url (Optional)</label>
                <input type="url" id="discordUrl" name="discordUrl" placeholder="insert discord url" readonly>
            </div>
            <div>
                <label for="twitterUrl">Twitter Url</label>
                <input type="url" id="twitterUrl" name="twitterUrl" placeholder="insert twitter url" required readonly>
            </div>
            <div>
                <label for="twitterProfileImage">Twitter Profile (Image Url)</label>
                <input type="url" id="twitterProfileImage" name="twitterProfileImage" required readonly>
            </div>
            <div class="group">
                <div class="group_item mr5">
                    <label for="mintDate">Mint Date</label>
                    <select id="mintDateOption" name="mintDateOption" onchange="handleOptionChange(this, 'mintDate')">
                        <option value="specificDate">Specific Date</option>
                        <option value="TBA">TBA</option>
                    </select>
                    <input type="datetime-local" id="mintDate" name="mintDate" value="" required readonly>
                </div>
                <div class="group_item ml5">
                    <label for="supply">Supply</label>
                    <select id="supplyOption" name="supplyOption" onchange="handleOptionChange(this, 'supply')">
                        <option value="specificNumber">Specific Number</option>
                        <option value="TBA">TBA</option>
                    </select>
                    <input type="number" id="supply" name="supply" required readonly>
                </div>
            </div>
            <div class="group">
                <div class="group_item mr5">
                    <label for="wlPrice">WL Price</label>
                    <select id="wlPriceOption" name="wlPriceOption" onchange="handleOptionChange(this, 'wlPrice')">
                        <option value="specificNumber">Specific Number</option>
                        <option value="TBA">TBA</option>
                    </select>
                    <input type="number" id="wlPrice" name="wlPrice" step="0.00001" pattern="[0-9\.]+" required readonly>
                </div>
                <div class="group_item ml5">
                    <label for="pubPrice">Public Price</label>
                    <select id="pubPriceOption" name="pubPriceOption" onchange="handleOptionChange(this, 'pubPrice')">
                        <option value="specificNumber">Specific Number</option>
                        <option value="TBA">TBA</option>
                    </select>
                    <input type="number" id="pubPrice" name="pubPrice" step="0.00001" pattern="[0-9\.]+" required readonly>
                </div>
            </div>
            <div>
                <label for="blockchain">Blockchain</label>
                <select id="blockchain" name="blockchain" required readonly>
                    <option value="ETH">ETH</option>
                    <option value="ETH(Polygon)">ETH(Polygon)</option>
                    <option value="MATIC">MATIC</option>
                    <option value="SOL">SOL</option>
                    <option value="SUI">SUI</option>
                    <option value="BTC">BTC</option>
                    <option value="APT">APT</option>
                    <option value="USDC">USDC</option>
                </select>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="noUpdate" name="noUpdate">
                <label for="noUpdate">Don`t Alphabot Update</label>
            </div>
            <div>
                <label for="regUser">Creator by {{user.username}}#{{user.discriminator}}</label>
                <input type="hidden" id="regUser" name="regUser" value="{{user.username}}#{{user.discriminator}}"/>
                <input type="hidden" id="user_id" name="user_id" value="{{user.id}}"/>
            </div>
            <div class="group">
                <div class="group_item mr5 submit">
                    <button type="submit" id="update" name="update" class="button">Update</button>
                </div>
                <div class="group_item ml5 submit">
                    <button type="submit" id="delete" name="delete" class="red-button">Delete</button>
                </div>
                <iframe id="iframe" name="iframe" style="display:none;"></iframe>
                <script>
                    function winClose(comment) {
                        alert(comment)
                        window.open("about:blank","_self").close()
                    }
                    document.getElementById("update").addEventListener("click", function(event) {
                        form = document.querySelector('form');
                        const input = document.querySelector('input');
                        if(form.name.value == "") {
                            form.name.focus()
                            event.preventDefault();
                        }
                        input.addEventListener('input', event => {
                            if(!input.checkValidity()) {
                                event.preventDefault();
                            }
                        });
                    });
                    document.getElementById("delete").addEventListener("click", function(event) {
                        form = document.querySelector('form');
                        const input = document.querySelector('input');
                        if(form.name.value == "") {
                            form.name.focus()
                            event.preventDefault();
                        } else {
                            form.action = "/delete"
                            form.target = "iframe"
                            form.submit()
                        }
                    });
                </script>
            </div>
        </form>
    </div>
</body>
</html>

