<!DOCTYPE html>
<html>
<head>
    <title>SearchFI Calendar Register</title>
    <link rel="stylesheet" href="/static/styles.css?ver=1.7">
</head>
<body>
    <div class="container">
        <h1>Welcome to SearchFI Calendar Register!</h1>
        <form method="post" target="iframe" action="/regist">
            <div>
                <label for="name">Project Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="discordUrl">DC Url (Optional)</label>
                <input type="url" id="discordUrl" name="discordUrl">
            </div>
            <div>
                <label for="twitterUrl">Twitter Url</label>
                <input type="url" id="twitterUrl" name="twitterUrl" required>
            </div>
            <div>
                <label for="twitterProfileImage">Twitter Profile (Image Url)</label>
                <input type="url" id="twitterProfileImage" name="twitterProfileImage" required>
            </div>
            <div class="group">
                <div class="group_item mr5">
                    <label for="mintDate">Mint Date</label>
                    <select id="mintDateOption" name="mintDateOption" onchange="handleMintDateOptionChange(this)">
                        <option value="specificDate">Specific Date</option>
                        <option value="TBA">TBA</option>
                    </select>
                    <input type="datetime-local" id="mintDate" name="mintDate" value="{{ today }}T00:00" required>
                </div>
                <div class="group_item mr5">
                    <label for="supplyOption">Supply Option</label>
                    <select id="supplyOption" name="supplyOption" onchange="handleSupplyOptionChange(this)">
                        <option value="specificSupply">Specific Supply</option>
                        <option value="TBA">TBA</option>
                    </select>
                    <input type="number" id="supply" name="supply" required>
                </div>
            </div>
            <div class="group">
                <div class="group_item mr5">
                    <label for="wlPriceOption">WL Price Option</label>
                    <select id="wlPriceOption" name="wlPriceOption" onchange="handlePriceOptionChange(this, 'wlPrice')">
                        <option value="specificPrice">Specific Price</option>
                        <option value="TBA">TBA</option>
                    </select>
                    <input type="number" id="wlPrice" name="wlPrice" step="0.00001" pattern="[0-9\.]+" required>
                </div>
                <div class="group_item">
                    <label for="pubPriceOption">Public Price Option</label>
                    <select id="pubPriceOption" name="pubPriceOption" onchange="handlePriceOptionChange(this, 'pubPrice')">
                        <option value="specificPrice">Specific Price</option>
                        <option value="TBA">TBA</option>
                    </select>
                    <input type="number" id="pubPrice" name="pubPrice" step="0.00001" pattern="[0-9\.]+" required>
                </div>
            </div>
            <div>
                <label for="blockchain">Blockchain</label>
                <select id="blockchain" name="blockchain" required>
                    <option value="ETH">ETH</option>
                    <option value="SOL">SOL</option>
                    <option value="APT">APT</option>
                    <option value="USDC">USDC</option>
                </select>
            </div>
            <div>
                <label for="regUser">Creator by {{user.username}}#{{user.discriminator}}</label>
                <input type="hidden" id="regUser" name="regUser" value="{{user.username}}#{{user.discriminator}}"/>
            </div>
            <div class="submit">
                <button type="submit" class="button">Register</button>
            </div>
            <iframe id="iframe" name="iframe" style="display:none;"></iframe>
            <script>
                function winClose(comment) {
                    alert(comment)
                    window.open("about:blank","_self").close()
                }

                function handleMintDateOptionChange(select) {
                    const mintDateInput = document.getElementById('mintDate');
                    if (select.value === 'TBA') {
                        mintDateInput.disabled = true;
                        mintDateInput.value = 'TBA';
                    } else {
                        mintDateInput.disabled = false;
                        mintDateInput.value = '{{ today }}T00:00';
                    }
                }

                function handleSupplyOptionChange(select) {
                    const supplyInput = document.getElementById('supply');
                    if (select.value === 'TBA') {
                        supplyInput.readOnly = true;
                        supplyInput.value = 'TBA';
                    } else {
                        supplyInput.readOnly = false;
                        supplyInput.value = '';
                    }
                }

                function handlePriceOptionChange(select, inputId) {
                    const priceInput = document.getElementById(inputId);
                    if (select.value === 'TBA') {
                        priceInput.readOnly = true;
                        priceInput.value = 'TBA';
                    } else {
                        priceInput.readOnly = false;
                        priceInput.value = '';
                    }
                }
            </script>
        </form>
    </div>
</body>
</html>

